@import "tailwindcss";

@font-face {
  font-family: "Yekan";
  src: url("/public/fonts/Yekan.woff2");
}

.font-yekan {
  font-family: "Yekan";
}
.font-head {
  font-family: Inter, "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}
.font-body {
  font-family: "SF Mono", "Roboto Mono", Consolas, "Courier New", monospace;
}
