@import "tailwindcss";

@keyframes float {
  0% {
    transform: translateY(0px) translateZ(0px);
  }
  100% {
    transform: translateY(-8px) translateZ(8px);
  }
}

@keyframes pulse {
  from {
    opacity: 0.3;
    transform: scale(1);
  }
  to {
    opacity: 0.6;
    transform: scale(1.3);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-60px);
  }
}
@keyframes gradientX {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradientX {
  background-size: 200% 200%;
  animation: gradientX 2s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes wave {
  0% {
    clip-path: polygon(
      0 20%,
      10% 0,
      20% 20%,
      30% 0,
      40% 20%,
      50% 0,
      60% 20%,
      70% 0,
      80% 20%,
      90% 0,
      100% 20%,
      100% 100%,
      0 100%
    );
  }
  100% {
    clip-path: polygon(
      0 0,
      10% 20%,
      20% 0,
      30% 20%,
      40% 0,
      50% 20%,
      60% 0,
      70% 20%,
      80% 0,
      90% 20%,
      100% 0,
      100% 100%,
      0 100%
    );
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  from {
    transform: translate(-50px, -50px) scale(1);
  }
  to {
    transform: translate(50px, 50px) scale(1.2);
  }
}
div::-webkit-scrollbar {
  display: none;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
