@font-face {
  font-family: "Dirooz";
  src: url("/public/fonts/Dirooz-FD-WOL.woff");
}
@font-face {
  font-family: "Yekan";
  src: url("/fonts/Yekan.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap; /* Good for performance */
}

/* .inter-un {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
} */

body {
  font-family: Tahoma, "IRAN Sans", "Yekan", "Open Sans", sans-serif;
  /* font-family: sans-serif; */
}
